#cardContainer {
  margin: 10px, 0;
  height: 95vh;
  padding: 50px;
}
.Card {
  margin: 0 2% !important;
}

#infected {
  border-bottom: 8px solid rgba(0, 0, 255, 0.5);
}
#recovered {
  border-bottom: 8px solid rgba(0, 255, 0, 0.5);
}
#deaths {
  border-bottom: 8px solid rgba(255, 0, 0, 0.5);
}

.col {
  flex: 1;
  padding: 16px;
}

.h1 {
  font-size: calc(50% + 1vw + 1vh);
}
