.navbar-light {
  color: white;
}

.active {
  color: rgb(0, 0, 0);
}
#appcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.navbar {
  background-color: #001524;
}
